.taskCard_container{
    width: 100%;
    border: 1px solid #d9d8d8;
    margin: 15px 0;
    padding:15px;
    border-radius: 10px;
}

h4{
    text-align: start;
    margin-bottom: 15px;
}

.card_delete{
    width: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.card__bin{
    width: 20px;
    opacity: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.flex_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__bin:hover{
background: #bebebe;

}